body{
	margin: 0;
	position: relative;
	height: 400vh;
}



#Navigation{
	width: 100%;
	background-color: white;
	position: fixed;
	padding-bottom: 2%;
	z-index: 1;
}

.nav1{
	float: right;
	font-size: 1vw;
	margin-top: 2%;
	margin-right: 10%;
	text-decoration: none;
	color: black;
}

.nav1:hover{
	opacity: .3;
}

.nav2{
	float: left;
	margin-top: 2%;
	margin-left: 10%;
	font-size: 1vw;
	color: black;
	text-decoration: none;
}

.nav2:hover{
	opacity: .3;
}

.mainLogo{
	float: left;
	position: absolute;
	font-size: 3vw;
	text-decoration: none;
	color: #00008B;
}

.mainLogo:hover{
	font-size: 4vw;
}

#textContainer{
	width: 100%;
}

.mainHead{
	padding-top: 60px;
	text-align: center;
}

#headContainer2{
	margin-top: 40px;
	background-color: #f1f4f6;
}

.mainHead2{
	padding-top: 10px;
	text-align: center;
}

.mainText{
	padding-bottom: 60px;
	text-align: center;
	font-size: 1.5vw;
}

#content{
}

.mySlides{
	width: 100%;
	height: 95vh;
}

.newsHead{
	background-color: #094a85;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	width: 99%;
	color: white;
}

#flexContainer{
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
	background-color: white;
	justify-content: center;
}

.flexContent{
	width: 20%;
	border: 1px solid;
	text-align: center;
	background-color: #f1f4f6;
	font-size: 1.5vw;
}


.headerBrands{
	margin-left: 42%;
	font-size: 2vw;
	position: absolute;
}

#brandLogos{
	width: 100%;
	padding-bottom: 5%;
	padding-top: 5%;
	display: flex;
	justify-content: center;
	background-color: #f1f4f6;
}

.carBrands{
	width: 10vw;
}

#info508{
	font-size: 1.5vw;
	margin-top: 4%;
	margin-left: 10%;
	width: 35%;
}

#info508 h2{
	text-align: center;
}

#info508 button{
	margin-left: 30%;
}

.pic508{
	position: absolute;
	width: 30vw;
	margin-top: 3%;
	margin-left: 55%;
	border-radius: 50%;
}

.button508{
	background-color: #094a85;
	border: none;
	padding: 1vw;
	opacity: 0.4;
	transition: .3s;
	font-size: 2vw;
	cursor: pointer;
	color: white;
	text-decoration: none;
	color: white;
}

.button508:hover{
	opacity: 1;
}

#navSlide{
	background-color: #094a85;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	width: 100%;
}

.links{
	margin-left: 4%;
	margin-right: 4%;
	color: white;
	font-size: 2vw;
	text-decoration: none;
}

.links:hover{
	opacity: .3;
}

/*Footer stuff */

#footContainer{
	background-color: #094a85;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-bottom: 450px;
	height: 2.5rem;
}

.footHead{
	font-size: 3vw;
	color: white;
	margin-top: 20%;
	margin-left: 15%;
	position: absolute;
}

.footHead2{
	font-size: 1.5vw;
	color: white;
	margin-left: 8%;
	margin-top: 5%;
	position: absolute;
}

.footMedia{
	font-size: 1.5vw;
	color: white;
	margin-left: 65%;
	margin-top: 5%;
	position: absolute;
}

.footText{
	font-size: 1.3vw;
	color: white;
	margin-top: 8%;
	margin-left: 8%;
	position: absolute;
}

.footKontakt{
	font-size: 1.5vw;
	margin-left: 45%;
	margin-top: 3.5%;
	color: white;
	position: absolute;
}

.Icons{
	display: inline-flex;
	margin-top: 8%;
	margin-left: 64.5%;
	position: absolute;
}

.Icon{
	width: 2vw;
	margin-left: 6%;
}

.Icon:hover{
	cursor: pointer;
	opacity: .3;
}

.adress{
	font-size: 1.5vw;
	margin-left: 75%;
	margin-top: 5%;
	position: absolute;
	color: white;
}

.googleMaps{
	height: 200px;
	width: 20%;
	border: 0;
	position: absolute;
	margin-top: 14%;
	margin-left: 75%;
}

#contactContainer{
	position: absolute;
	margin-left: 45%;
	margin-top: 12%;
	width: 30%;
}

.myInput{
	display: block;
	width: 50%;
	color: white;
}

#subject{
	height: 100px;
	width: 50%;
	display: block;
}

.subButt{
	margin-left: 17%;
	margin-top: 2%;
}

.subButt:hover{
	color: white;
	background-color: black;
}


/* 508 Page */


.grid-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 4vw);
	grid-gap: 5px;
	width: 70%;
	padding-top: 30px;
	margin-left: 15%;
}

.grid-items{
	border: 2px solid;
	transition: .5s;
}

.grid-items p{
	color: white;
	text-align: center;
	font-size: 3vw;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.grid-items p:hover{
	opacity: 1;
}

.grid-items:hover{
	opacity: .7;
	transition: .5s;
}

.grid-item1 {
	background-image: url(https://i.ytimg.com/vi/FlOBzhL1CG8/maxresdefault.jpg);
	background-size: cover;
	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.grid-item2 {
	background-image: url(https://www.motorionline.com/wp-content/uploads/2018/10/Peugeot-508-GT-Line-e1539672904800.jpg);
	background-size: cover;
	grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-item3 {
	background-image: url(https://media.peugeot.se/image/07/9/peugeot-508sw-2018-267-fr.534079.27.jpg?autocrop=1);
	background-size: cover;
	grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-item4 {
	background-image: url(https://s31.wheelsage.org/format/picture/picture-preview-large/p/peugeot/508_gt_sw/peugeot_508_gt_sw_595_05b4026804a3036f.jpg);
	background-size: cover;
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
}

.grid-item5 {
	background-image: url(https://media.peugeotsl.com/image/86/6/peugeot-essence-2015-134-fr.304866.19.jpg?autocrop=1);
	background-size: cover;
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.grid-item6 {
	background-image: url(https://media.peugeot.se/image/07/4/peugeot-508-2018-304-fr.534074.63.jpg?autocrop=1);
	background-size: cover;
	grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
}

/* gallery page*/

.galleryHead{
	position: absolute;
	background-color: #f1f4f6;
	width: 100%;
	margin-top: 10%;
	font-size: 3vw;
	text-align: center;
}

.gridGalleryCon{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(14, 9vw);
	grid-gap: 2px;
	margin-bottom: 30%;
	margin-left: 15%;
	margin-top: 20%;
	width: 70%;
	position: absolute;
}

.galleryItems{
	border: 2px solid;
	text-align: center;
	font-size: 2vw;
	max-width: 100%;
	transition: .5s;
}

.galleryItems:hover {
	opacity: .5;
	transition: .5s;
}

.galleryItems p{
	opacity: 0;
	width: 100%;
	height: 100%;
}

.galleryItems p:hover{
	opacity: 1;
}

.galleryitem1{
	background-image: url(https://pictures.dealer.com/s/sandbergnorthwestvolvovcna/0217/c9c8d64fa9f413ea7a8d514bb5749ca9x.jpg?impolicy=resize&w=1024);
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.galleryitem2{
	background-image: url(https://www.vibilagare.se/sites/vibilagare.se/files/styles/main_image_full/public/images/2017/02/interior_blond_volvo_s90.jpg?itok=jcqfpU0I);
	background-size: cover;
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 3;
}

.galleryitem3{
	background-image: url(https://ftek.se/wp-content/uploads/2018/08/dragos.png);
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 5;
}

.galleryitem4{
	background-image: url(https://i.pinimg.com/originals/7a/70/34/7a70344f17e497af75999f6cffaf2ff8.jpg);
	background-size: cover;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 5;
}

.galleryitem5{
	background-image: url(https://pictures.topspeed.com/IMG/crop/201902/volvo-xc90-34_800x0w.jpg);
	background-size: cover;
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 5;
}

.galleryitem6{
	background-image: url(https://i.ytimg.com/vi/FlOBzhL1CG8/maxresdefault.jpg);
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 7;
}

.galleryitem7{
	background-image: url(https://image.iol.co.za/image/1/process/620x349?source=https://inm-baobab-prod-eu-west-1.s3.amazonaws.com/public/inm/media/image/iol/2019/02/21/19419234/IOLmot21feb19_58_c.jpg&operation=CROP&offset=1802x1332&resize=4545x2556);
	background-size: cover;
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 7;
}

.galleryitem8{
	background-image: url(https://www.jing.fm/clipimg/full/9-98991_download-joker-clipart-old-batman-cartoon-and-2019.png);
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 7;
	grid-row-end: 10;
}

.galleryitem9{
	background-image: url(https://jbil.se/sites/default/files/styles/hero_image_mobile/public/mobil_800x600_508_sw_2.jpg?itok=RRIOv6yq);
	background-size: cover;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 7;
	grid-row-end: 9;
}

.galleryitem10{
	background-image: url(https://www.automobiledimension.com/photos/interior/peugeot-508-sw-2019-boot.jpg);
	background-size: cover;
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 7;
	grid-row-end: 9;
}

.galleryitem11{
	background-image: url(https://cdn.motor1.com/images/mgl/kPmmN/s1/2019-renault-koleos.jpg);
	background-size: cover;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 9;
	grid-row-end: 13;
}

.galleryitem12{
	background-image: url(https://cdn.shopify.com/s/files/1/0054/4371/5170/products/FiGPiN_85_Robin_BATMAN_CLASSIC_PIN_600x600.png?v=1539211007);
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 10;
	grid-row-end: 13;
}


.galleryitem14{
	background-image: url(https://www.driving.co.uk/s3/st-driving-prod/uploads/2019/01/megane-rs-10.jpg);
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 13;
	grid-row-end: 15;
}

.galleryitem15{
	background-image: url(https://www.cdn.renault.com/content/dam/Renault/master/vehicules/talisman-estate-kfd-ph1/accessories-kfd/renault-talisman-estate-kfd-ph1-accessories-002.jpg.ximg.s_12_h.smart.jpg);
	background-size: cover;
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 13;
	grid-row-end: 15;
}


/* Media queries (Responsive page) */

@media only screen and (max-width: 700px) {

  body{
  	height: 250vh;
  }
  #Navigation{
  	display: flex;
	flex-direction: column;
	background-color: #094a85;
	text-align: center;
	position: relative;
	margin-bottom: 10%;
  }
  #Navigation a{
  	color: white;
  	font-size: 3vw;
  }

  #flexContainer{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	background-color: white;
  }

  .flexContent{
  	font-size: 2vw;
  	width: 90%;
  	height: 100px;
  	background-color: #f1f4f6;
  }

  .footKontakt{
  	margin-left: 2%;
  	width: 30%;
  	font-size: 3vw;
  }

  .Icon{
  	width: 50px;
  	height: 50px;
  	padding-right: 10px;
  }

  #footContainer{
  	padding-bottom: 100px;
  }
 

 /* Removed desktop content */
  .footHeaders{
  	display: none;
  }	
  .footText{
  	display: none;
  }
  .gridGalleryCon{
	display: grid;
  }

  .mainLogo{
  	display: none;
  }

  #navSlide{
  	display: none;
  }
  #textContainer{
  	display: none;
  }

  .content{
	display: none;
  }

  .googleMaps{
  	display: none;
  }

  #contactContainer{
  	display: none;
  }

  .adress{
  	display: none;
  }
}
